 #logtool#

on property:persist.asuslog.fac.init=1
    start init_factorylog

on property:persist.asuslog.logtool.clear=1
    start logtool_clear

#logcommand
service logcommand /system/bin/logcommand
    class main
    disabled
    oneshot
	seclabel u:r:dumpstate:s0

service init_factorylog  /system/bin/init_factorylogtool.sh
    disabled
    oneshot
    seclabel u:r:dumpstate:s0

service logtool_clear  /system/bin/logtool_clear.sh
    disabled
    oneshot
    seclabel u:r:dumpstate:s0

service logbackup /system/bin/sh /system/etc/packlogs.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
    seclabel u:r:dumpstate:s0

#service diag_mdlog /vendor/bin/diag_mdlog -f /vendor/etc/Diag.cfg -o /sdcard/Asuslog/Modem/ -s 200 -n 3 -c
service diag_mdlog  /system/bin/sh /system/bin/modemlog.sh
    class late_start
    disabled
    oneshot
    seclabel u:r:dumpstate:s0

service asus_diag_mdlog_stop /vendor/bin/diag_mdlog -k
    class late_start
    disabled
    oneshot

#service ss_ramdump /system/bin/subsystem_ramdump
#    class main
#    user system
#    group system
#    disabled

#on property:persist.asuslog.qxdmlog.enable=1
#    insmod /system/lib/modules/diagchar.ko
#    start diag_mdlog

#on property:persist.asuslog.qxdmlog.enable=2
#    start asus_diag_mdlog_stop
#    write /sys/power/wake_unlock diag_fwrite
    
service ssrsetup_related  /vendor/bin/ssr_setup modem
    user system
    group system
    class main
    disabled
    oneshot

service ssrsetup_system  /vendor/bin/ssr_setup
    user system
    group system
    class main
    disabled
    oneshot

on property:persist.asuslog.modem.ramdumps=1 && property:sys.boot_completed=1
    #insmod /system/lib/modules/diagchar.ko
    start ssrsetup_related 
#    write /sys/module/subsystem_restart/parameters/enable_ramdumps 1
	start asus_setsysfs
    start ss_ramdump

on property:persist.asuslog.modem.ramdumps=0
#    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0
	start asus_setsysfs
    stop ss_ramdump
    start ssrsetup_system

on property:persist.asuslog.qpst.enable=1
    start asus_setsysfs
#    write /sys/module/msm_poweroff/parameters/download_mode 1

on property:persist.asuslog.qpst.enable=0
    start asus_setsysfs
#    write /sys/module/msm_poweroff/parameters/download_mode 0

on property:persist.asuslog.rtb.enable=1
#    write /sys/module/msm_rtb/parameters/enable 1
	start asus_setsysfs

on property:persist.asuslog.rtb.enable=0
#    write /sys/module/msm_rtb/parameters/enable 0
	start asus_setsysfs

#logtool#

service about_info  /system/bin/init.asus.about_info.sh
	user root
	group system
	disabled
	oneshot
	seclabel u:r:dumpstate:s0

on property:persist.asuslog.aboutinfo=1 && sys.boot_completed=1
    start about_info

on property:persist.asuslog.aboutinfo=0 && sys.boot_completed=1
	start about_info

service savelogsd  /system/bin/savelogsd.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
	seclabel u:r:dumpstate:s0

service savelogclear  /system/bin/savelogclear.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
	seclabel u:r:dumpstate:s0

service savelogclearall  /system/bin/savelogclearall.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
	seclabel u:r:dumpstate:s0

service log_profile  /system/bin/init.asus.log_profile.sh
	user root
	group system
	disabled
	oneshot
	seclabel u:r:dumpstate:s0

on property:persist.asuslog.logprofile=1
    start log_profile

on property:persist.asuslog.logprofile=2
	start log_profile
	
on property:persist.asuslog.logprofile=3
	start log_profile

on property:sys.delete_old_log.all=1
	start savelogclearall

service delete_modem  /system/bin/init.asus.delete_modem.sh
	user root
	group system
	disabled
	oneshot
	seclabel u:r:dumpstate:s0

on property:persist.asus.delete_modem=1
	start delete_modem
	
service checkcmdl  /vendor/bin/sh   /vendor/bin/init.asus.check_cmdline.sh
	class late_start
    user root
	group system
    disabled
    oneshot
	seclabel u:r:asuslogtool-scripts:s0

service asus_setuartlog  /vendor/bin/sh /vendor/bin/init.asus.setuartlog.sh
    user root
    group system
    disabled
    oneshot
	seclabel u:r:asuslogtool-scripts:s0

service asusinov_setproc  /vendor/bin/sh /vendor/bin/init.asus.asusinov_setproc.sh
    user root
    group system
    disabled
    oneshot
	seclabel u:r:asuslogtool-scripts:s0

service asusklog_setproc  /vendor/bin/sh /vendor/bin/init.asus.asusklog_setproc.sh
    user root
    group system
    disabled
    oneshot
	seclabel u:r:asuslogtool-scripts:s0

service asusqpst_setproc  /vendor/bin/sh /vendor/bin/init.asus.asusqpst_setproc.sh
    user root
    group system
    disabled
    oneshot
	seclabel u:r:asuslogtool-scripts:s0

service asuskernelmessage_setproc  /vendor/bin/sh /vendor/bin/init.asus.kernelmessage_setproc.sh
    user root
    group system
    disabled
    oneshot
	seclabel u:r:asuslogtool-scripts:s0

service asus_setlastshutdownproc  /vendor/bin/sh /vendor/bin/init.asus.setlastshutdownproc.sh
    user root
    group system
    disabled
    oneshot
	seclabel u:r:asuslogtool-scripts:s0

service asus_setsysfs  /vendor/bin/sh /vendor/bin/init.asus.setsysfs.sh
    user root
    group system
    disabled
    oneshot
	seclabel u:r:asuslogtool-scripts:s0

on property:persist.asus.audbg=0
    start asus_setuartlog

on property:persist.asus.audbg=1
    start asus_setuartlog
    
service mbnservice  /system/bin/init.asus.mbn.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
	seclabel u:r:dumpstate:s0

service logtool_finish  /system/bin/init.asus.finish.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
	seclabel u:r:dumpstate:s0

on property:sys.config.klog=1
#	write /proc/asusklog 1
	start asusklog_setproc
#    config_sys 7C89FDAB

on property:sys.config.klog=0 && property:ro.bootmode=unknown
#	write /proc/asusklog 0
	start asusklog_setproc
#    config_sys 79ACB239

on property:sys.config.uartlog=1
#    config_sys 7E8BDCA5

on property:sys.config.uartlog=0
#    config_sys 768CF5D9

on property:sys.config.print=1
#    config_sys 12349876
